<h4>About Role Together</h4>

<h6 class='plain'>Logged in as <%= current_user.email %>  <%= link_to "edit", edit_user_path(current_user) %></h6>

<div class='card plain'>
  <div class='card-content'>
    <div>
      <h5>Design help: Janina Hartley</h5>
      <h6><a href="http://janinahartleydesigns.com/">Portfolio</a>   <a href="https://github.com/jhartley1412">GitHub</a></h6>
      <p>
        This site's colors, fonts and design were all inspired or chosen by Janina Hartley. Without her help this
      site would not have the pop and flair that it does now. Thank you Janina.
      </p>
    </div>
  </div>
    <div>
      <h5>Role Together by Dane Carmichael</h5>
      <h6><a href="https://github.com/DaneCarmichael">GitHub</a></h6>
      <p>
        The idea for Role Together was given to me by Jason Twyman. It was inspired by our love of pen and paper games,
        and the fact that we haven't played since I left home. The site was built with Ruby, Ruby on Rails, JavaScript, and
        React. 
      </p>
    </div>
  </div>
</div>
