<h4>About Role Together</h4>

<h6 class='plain'>Logged in as <%= current_user.email %>  <%= link_to "edit", edit_user_path(current_user) %></h6>

<div class='card plain'>
  <div>
    <div>
      <h5>Design help: Janina Hartley</h5>
      <h6><a href="http://janinahartleydesigns.com/">Portfolio</a></h6>
      <p>
        This site's colors, fonts and design were all inspired or chosen by Janina Hartley. Without her help this
      site would not have the pop and flair that it does now. Thank you Janina.
      </p>
    </div>
  </div>
    <div>
      <h5></h5>
    </div>
  </div>
</div>
