  <%= link_to "Go Back", :back %>

<div class='character-sheet'>
    <%= react_component('CharacterSheet', stats: @character.stats, skills: @character.skills, equipment: @character.equipment,
                        name: @character.name, bio: @character.bio, game_id: @character.player.game_session_id, character_id: @character.id) %>
</div>
