<div class='character-sheet'>
    <%= react_component('CharacterSheet', stats: @character.stats, skills: @character.skills, equipment: @character.equipment,
                        name: @character.name, bio: @character.bio) %>
</div>
