/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$primary-color: #1C2528;
$secondary-color: #1F1A37;
$tertiary-color:  #F9F0C1;

@import "materialize";
@import url(https://fonts.googleapis.com/css?family=Inknut+Antiqua|Alegreya+Sans:400,700);

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inknut Antiqua', serif;
}

p, span, div, textarea, input, nav, .btn {
  font-family: 'Alegreya SC', serif;
}

.btn {
  color: white;
}

strong {
  font-family: 'Alegreya SC', serif;
  font-weight: bold;
}

.clicky-button {
  text-align: center;
  &:hover {
      cursor: pointer;
      color: inherit;
    }
}

.dash-display {
  background-color: $tertiary-color;
  border: 1px solid $secondary-color;
  p {
    margin-left: 1em;
  }
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }
  strong {
    margin-bottom: 2em;
    display: block;
    text-align: center;
  }
}

.warning-header {
  text-decoration: none;
  color: inherit;
}

.warning-header-box {
  border: 1px solid $secondary-color;
}

.character-sheet {
  margin-top: 3em;
  background-color: $tertiary-color;
  h6 {
    margin: 1em 0 0 .5em;
  }
  p {
    margin-left: 1em;
  }
}

.in-line {
  display: inline-block;
}

.hide {
  display: hidden;
}

.character-form {
  display: inline-block;
  max-width: 3em;
  text-align: center;
}

input[type="text"]{
   height: 1.5em;
   margin: 0;
 }

.sm-margin {
  margin-bottom: .25em;
}

.center-text {
  text-align: center;
}

input.upper-margin {
  margin-top: 1em;
}

::-webkit-input-placeholder {
   color: #5E5E5E;
}

:-moz-placeholder { /* Firefox 18- */
   color: #5E5E5E;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #5E5E5E;
}

:-ms-input-placeholder {
   color: #5E5E5E;
}
