/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$primary-color: #1C2528;
$secondary-color: #1F1A37;
$tertiary-color:  #F9F0C1;

@import "materialize";
@import url(https://fonts.googleapis.com/css?family=Inknut+Antiqua|Alegreya+Sans:400,700);

h1, h2, h3, h4, h5, h6, .btn {
  font-family: 'Inknut Antiqua', serif;
}

p, span, div {
  font-family: 'Alegreya SC', serif;
}

.dash-display {
  background-color: $tertiary-color;
  border: 1px solid $secondary-color;
  p {
    margin-left: 1em;
  }
}
