/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$primary-color: #1C2528;
$secondary-color:  #221D3E;
$body-color: rgba(249, 240, 193, .25);

@import "materialize";
@import url(https://fonts.googleapis.com/css?family=Inknut+Antiqua|Alegreya+Sans:400,700);

h1, h2, h3, h4, h5 {
  font-family: 'Inknut Antiqua', serif;
}

p, span, div, textarea, input, nav, .btn {
  font-family: 'Alegreya SC', serif;
}

h6 {
  font-family: 'Alegreya SC', serif;
  font-weight: bold;
}

.btn {
  &:hover {
    color: white;
  }
}

body {
  background-color: $body-color
}

strong {
  font-family: 'Alegreya SC', serif;
  font-weight: bold;
}

.clicky-button {
  text-align: center;
  &:hover {
      cursor: pointer;
      color: inherit;
    }
  .btn {
    &:hover {
      color: white;
    }
  }
}

.text-center {
  text-align: center;
}

.dash-display {
  background-color: white;
  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
      }
      .btn {
        color: white;
        text-decoration: none;
      }
    }
  strong {
    margin-bottom: 2em;
    display: block;
    text-align: center;
  }
}

.padding-bottom {
  padding-bottom: 1em;
}

a.center.btn.clicky-button {
  color: white;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

#flash {
  &:hover {
    cursor: pointer;
  }
}

.warning-header {
  text-decoration: none;
  color: inherit;
}

.warning-header-box {
  border: 1px solid $secondary-color;
}

.character-sheet {
  margin-top: 3em;
  background-color: white;
  h6 {
    margin: 1em 0 0 .5em;
  }
  p {
    margin-left: 1em;
  }
}

.character-mod {
  margin-top: 3em;
  background-color: $body-color;
  h6 {
    margin: 1em 0 0 .5em;
  }
  p {
    margin-left: 1em;
  }
}

.in-line {
  display: inline-block;
}

.block {
  display: block;
}

.hide {
  display: hidden;
}

.character-form {
  display: inline-block;
  max-width: 3em;
  text-align: center;
}

input[type="text"]{
   height: 1.5em;
   margin: 0;
 }

.sm-margin {
  margin-bottom: .25em;
}

.center-text {
  text-align: center;
  p {
    margin: 0;
  }
}

.chat-container {
  height: 25em;
  width: 90%;
  overflow-y: hidden;
  overflow-x: scroll;
  background-color: white;
}

#chat-window {
  height: 20em;
  overflow: auto;
  background-color: white;
  overflow-x: hidden;
}

.limiter {
  margin: 0;
  padding: .3em;
  background-color: $secondary-color;
  color: white;
  &:hover {
    cursor: pointer;
  }
}
.chat-position {
  position: fixed;
	bottom: 0;
	right: 0;
}

.lil-space {
  margin: .2em 0;
}

.collapse {
  display: none;
}

input.upper-margin {
  margin-top: 1em;
}

::-webkit-input-placeholder {
   color: #5E5E5E;
}

:-moz-placeholder { /* Firefox 18- */
   color: #5E5E5E;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #5E5E5E;
}

:-ms-input-placeholder {
   color: #5E5E5E;
}

@media only screen and (min-width: 600px) {
  .md-top-margin {
    margin-top: 2em;
  }
  .important-card {
      min-height: 35em;
  }
  .limiter {
    width: 30em;
  }
  .chat-container {
    width: 30em;
    opacity: .90;
  }
}

@media only screen and (min-width: 993px) {
.container {
    width: 90%;
  }
}
