<div>
  <div class='in-a-modal'>
        <%= react_component('CharacterSheet',
            stats: char.stats,
            skills: char.skills,
            equipment: char.equipment,
            name: char.name,
            bio: char.bio,
            level: char.level,
            currency: char.currency,
            id: char.id,
            game_id: char.player.game_session_id,
            searchFor: "character_equipment",
            character_id: char.id) %>
    <%= link_to "Delete", character_path(char.id, game: char.player.game_session_id), method: :delete,
                                                    data: { confirm: "Are you sure you want to delete this character?" },
                                                    class: "delete btn" %>
  </div>
</div>
