<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "application" -%>
    <style>
      .not-pdf-friendly {
        display: none !important;
      }
      @media screen {
        body {
          background-color: white;
        }
      }
    </style>
  </head>
  <body>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
